<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocab</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Vocabulary practice </h1><p></p>
    <div id="addCard">
        <h3>Add Vocabulary Card</h3>
        Enter Spanish:
        <input type="text" id="addSpan"> 
        Enter English:
        <input type="text" id="addEn">
        <button id="btnadd">add</button>
    </div>

    <div id="loadList">
        <h3>Load Vocabularylist</h3>
        Source: <input type="text" id="load" placeholder="Enter Source name"> 
        wenn man enter drueckt wird es zu einem normalen text und rechts kommt so ein knopf wenn man da drauf drueck dann kann man es wieder aendern
    </div>
    
    <br>
    <button id="btn12">English-Spanish</button> 
    <button id="btn21">Spanish-English</button>
    <div id="learndiv">
        <div id="WordText"></div>
        <input type="text" id="Useranswer" placeholder="Enter Spanish">
        <p id="msgbox"></p>
    </div>

    <script src="main.js"></script>
</body>
</html>